<div class="container">
  <main class="wrapper">
    <form id="post-form">
      <input type="text" name="title" id="title" placeholder="add a title" />

      <textarea
        name="text"
        id="text"
        cols="30"
        rows="10"
        placeholder="Write something..."
      ></textarea>

      <button>Add post</button>
    </form>
  </main>
</div>

<%- include('../partials/footer.ejs') %>
