<%- include ('../partials/head.ejs') %> <%- include
('../partials/navigation.ejs') %>
<div class="container">
  <main class="wrapper">
    <h2>Blog</h2>
  </main>
</div>
<%- include ('../partials/footer.ejs') %>
