<%- include('../partials/head.ejs') %>
<div class="container">
  <main class="wrapper">
    <h2>Add or read a blogpost today!</h2>
    <a href="/addPost">Add a post</a>
    <br />
    <br />
    <a href="/api/posts">All posts</a>
    <ul>
      <li><a href="/logout">Log out</a></li>
    </ul>
  </main>
</div>

<%- include('../partials/footer.ejs') %>
