<%- include ('../partials/head.ejs') %> <%- include
('../partials/navigation.ejs') %>

<div class="container">
  <main class="wrapper">
    <form id="formSignup">
      <h2>Regsiter here!</h2>

      <input type="email" name="email" id="email" placeholder="enter email" />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="enter password"
      />
      <input
        type="password"
        id="repeatPassword"
        name="repeatPassword"
        placeholder="repeat password"
      />
      <button>Register</button>
    </form>
  </main>
</div>

<%- include ('../partials/footer.ejs') %>
